@use "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html,
body {
  min-height: 100%;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    background-image: url("./resources/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: variables.$font-color;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem clamp(16px, 2%, 230px);
}

.logo-container {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 610px;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
    text-align: center;
    max-width: 610px;
}

.form-container {
    width: 100%;
    max-width: 850px;
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
    width: 100%;
}

.form-elem input,
.form-elem select,
.form-elem textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: variables.$text-color;
}

.form-elem input[type="submit"] {
    font-size: 1.25rem;
    color: variables.$button-color;
    font-weight: 700;
    transition: all 0.5s ;
}

.form-elem input[type="submit"]:hover {
    cursor: pointer;
    background-color: variables.$button-color;
    color: variables.$font-color;
    transform: scale(1.02);
}

button:active {
    cursor: pointer;
    background-color: variables.$button-color;
    color: variables.$font-color;
}

label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.1rem;
}

#message {
    height: 200px;
}

button {
    font-size: 1.25rem;
    font-weight: 700;
}