* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --dark-green: #295E48;
    --light-grey: #C9D0DA;
    --navy-blue: #364153;
    --gen-padding: max(10px, 5.75%);
    --bright-purple: #3C4C98;
    --dark-grey: #737F8B;
    --dark-text: #333333;
    --light-color: #F6F7FB;
    --alt-backdrop-color: #161739;
}

body {
    height: 100vh;
    background-color: var(--light-color);
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

/* NAV STYLES*/

nav {
    display: flex;
    padding: 1.5rem  var(--gen-padding) 0;
    justify-content: space-between;
}

.nav-button-container {
    display: flex;
    gap: 1.75rem;
    align-items: center;
    justify-content: center;
}

.nav-button-container a {
    text-decoration: none;
    color: var(--dark-grey);
}

.button {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--dark-green);
    color: var(--light-color);
    font-size: 1.125rem;
}

/* HEADER STYLES */

header {
    padding: 0 var(--gen-padding) 5rem;
    margin-top: 2.5rem;
}

.version {
    display: flex;
    gap: 1.25rem;
    align-items: center;

    padding: 0.25rem;
    border-radius: 1.5rem;
    color: var(--bright-purple);
    background-color: #DEE9FC;
    font-size: 0.75rem;
    font-weight: 600;
    width: 9.5rem;
}

.version__icon {
    width: 2rem;
    height: 2rem;
}


h1 {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--dark-text);
    margin: 2rem 0;
}

.header-desc {
    font-size: 1.25rem;
    color: var(--dark-grey);
}

.header-button-container {
    display: flex;
    gap: 2.25rem;
    align-items: center;
    margin-top: 2.5rem;
}

.header-button-container a {
    text-decoration: none;
    color: var(--dark-grey);
    font-weight: 600;
}

.header-button {
    padding: 1rem 2.25rem;
    font-weight: 600;
}


.hero-img-container {
    display: none;
}


/* SECTION ONE STYLES */

.components-section {
    background-color: var(--alt-backdrop-color);
    text-align: center;
    padding: 2.5rem var(--gen-padding);
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-color);
    margin-bottom: 1rem;
}

.components-subtitle {
    font-size: 1.25rem;
    color: var(--light-grey);
    margin-bottom: 4.5rem;
}

.comp-card-container {
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.card__icon {
    font-size: 3rem;
    height: 7.5rem;
    width: 7.5rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

.card__title {
    color: var( --light-color);
    font-size: 1.25rem;
    font-weight: 600;
}

.card__text {
    color: var(--light-grey);
    line-height: 175%;
}

.blue {
    background-color: #6281F7;
}


.gold {
    background-color: #F5C044;
}


.green {
    background-color: #5DB082;
}


.purple {
    background-color: #6D4AE5;
}


/* SECTION TWO IMG STYLES */

.img-section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    padding: 2.5rem  var(--gen-padding);
    row-gap: 2rem;
}

.section-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-img {
    display: block;
    width: 100%;
    height: auto;
}

.section-img-container > picture {
    width: 100%;
    height: auto;
}

.article-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article__icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 2.875rem;
    width: 2.875rem;
}

.article_title {
    color: #333333;
    font-size: 2.25rem;
    font-weight: 600;
}

.article__text {
    color: var(--dark-grey);
    line-height: 175%;
}


.article__list {
    margin-top: 0.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.article__list li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--dark-grey);
    font-size: 0.875rem;
}

.img-section > :nth-child(2),
.img-section > :nth-child(4) {
  margin-bottom: 2.5rem;
}


/* FOOTER STYLES */


footer {
    background-color: var(--alt-backdrop-color);
    padding: 2.5rem  var(--gen-padding);
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.footer-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--light-color);
}

.green-text {
    color: #5DB082;
}

footer > article {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer li {
    color: #FFFFFF;
    font-size: 1.125rem;
}

.logo--large {
    max-width: 120px;
    height: auto;
}


/* MEDIA QUERIES */


@media screen and (min-width: 750px) {
    h1 {
        font-size: 4rem;
    }

    header {
        padding: 0 var(--gen-padding) 5rem;
        padding-right: 0;
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    header > article {
        max-width: 50%;
    }

    .header-button-container {
        margin-top: 5.125rem;
    }

    .hero-img-container {
        display: block;
        width: 50%;
        position: relative;
        top: -40px;
    }

    .hero-img {
        width:100%;
        height: auto;
    }

    
    
    .components-section {
        padding: 6rem var(--gen-padding);
        background-image: url("./resources/section_bg_2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2 {
        font-size: 2.25rem;
    }

    .comp-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    
    
    
    
    .img-section {
        gap: 4.5rem 2rem;
        padding: 6rem  var(--gen-padding);
        grid-template-columns: repeat(2, 1fr);
    }

    .section-img {
        display: block;
        width: auto;
        height: auto;
    }

    .section-img-container > picture {
        height: auto;
        height: auto;
    }

    .img-section > :nth-child(2),
    .img-section > :nth-child(4) {
        margin-bottom: 0;
    }


    
    
    
    footer {
        padding: 6rem var(--gen-padding);
    }

    footer > article {
        gap: 2rem;
        grid-template-columns: 2fr repeat(2, 1fr);
    }

}


@media screen and (min-width: 1200px) {
    header {
        height: 655px;
    }

    .components-section {
        padding: 6rem var(--gen-padding);
        background-image: url("./resources/section_bg_1.png");
        background-size: cover;
        min-height: 750px;
    }

    .hero-img-container {
        top: -70px;
    }

    .comp-card-container { 
        grid-template-columns: repeat(4, 1fr);
        gap: 4.5rem;
    }
}