* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: #FFFEFE;
    padding: 3.125%;
}

main {
    margin: 0 auto;
    display: grid;
    border-radius: 1rem;
    background-color: #F3F4F6;
    grid-template-rows: auto repeat(6, 25rem);
    justify-content: center;
    max-width: 1200px;
    background-image: url("./resources/Background_decor.svg");
    background-position: left top;
    background-repeat: no-repeat;
}

/* Page Information Card */

.card {
    padding: 0 1.5rem;
    position: relative;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.team-text {
    padding: 1.7rem;
    display: grid;
    gap: 0.5rem;
    min-height: 18rem;
}

.opener-text {
    color: #263FA9;
}

.opener-desc {
    color: #394150;
}

/* General Card Information */

.team-lead-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-container {
    position: absolute;
    bottom: 20px;
}

.see-all-members .info-container {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.member-name, .member-title {
    color: #FFFFFF;
}

.member-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.member-title {
    color: 1.25rem;
    font-weight: 300;
}

/* Individual Card Information */

.one {
    background-color: #C1B6F8;
    background-image:
        linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
        ), url("./resources/person_1@2x.png");
}

.two {
    background-color: #EDACD2;
    background-image:
        linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
        ), url("./resources/person_2@2x.png");
}

.three {
    background-color: #9DC4F8;
    background-image:
        linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
        ), url("./resources/person_3@2x.png");
}

.four {
    background-color: #F8D8B0;
    background-image:
        linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
        ), url("./resources/person_4@2x.png");
}

.five {
    background-color: #86E7D4;
    background-image:
        linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
        ), url("./resources/person_5@2x.png");
}

@media screen and (min-width:600px) {

    body {
        padding: 7.2%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        grid-template-areas:
            "team  team team"
            "one  two   three"
            "allmembers four five";
        overflow: hidden;
    }

    .card {
        position: relative;
        max-width: 20rem;
    }

    .see-all-members{
        grid-area: allmembers;
    }

    .team-text {
        grid-area: team;
        max-width: 67%;
        background-image: none;
    }

    .one {
        grid-area: one;
    }

    .two {
        grid-area: two;
    }

    .three {
        grid-area: three;
    }

    .four {
        grid-area: four;
    }

    .five {
        grid-area: five;
    }

}

@media screen and (min-width:1100px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 18rem);
        justify-content: center;
        align-content: center;
        grid-template-areas:
            "team team one two"
            "allmembers three four five";
    }

    .team-text {
        max-width: 90%;
    }
}