* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --heading-color: #121826;
    --plan-text: #263FA9;
    --month-color: #4D5562;
    --footer-color: none;
    --name-color: none;
}

body {
    height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
}

header {
    background-color: #F8FAFC;
    padding: 3.25rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    border-bottom: #4D556233 1px solid;
    background-image: url("./resources/bg-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--heading-color);
}

header p {
  color: #4D5562;
  max-width: 28.125rem;
}

main {
    background-color: #FFFFFF;
    margin: 3.75rem 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.title-column {
    margin-top: calc(2rem + 6rem + 0.5rem);
    max-width: calc(31.25rem + 8.75rem);
    min-width: 5rem;
    background-color: #F8FAFC;
    border-radius: 0.5rem 0 0 0.5rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.last {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.selected {
    grid-column: 3/ span 1;
    grid-row: 1 / span 1;
}

.plan-column {
    text-align: center;
    max-width: calc(31.25rem + 8.75rem);
    min-width: 19.375;
    padding-top: 1.5rem;
    border-radius: 1.5rem;
}

.plan-header {
    padding: 1.5rem auto;
}

.plan-name {
    border-radius: 1rem;
    width: 6.25rem;
    margin: 0 auto;
    margin-bottom: 0.875rem;
    padding: 0.125rem 0;
    background-color: var(--name-color);
}

.plan-price {
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
    color: var(--heading-color);
}

.month-text {
    color: var(--month-color);
}

main ul {
    margin-top: 1.375rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-head {
    align-items: flex-start;
}

.plan-head li {
    color: var(--heading-color);
    padding: 1rem;
}

.plan-data li {
    color: var(--heading-color);
    padding: 1rem;
}

.plan-head li::after {
    content: "";
    display: block;
    border: 1px solid #4D556233;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-top: 0.5rem;
}

.title-column .data-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 600;
}

.tick {
    width: 1rem;
    height: auto;
}

.plan-footer {
    padding: 1.5rem 0;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color);
    border-radius: 0 0 1rem 1rem;
}

.plan-cto-text,
.plan-name {
    color: var(--plan-text);
    font-weight: 600;
}

.plan-cto {
    width: auto;
    height: 1.5rem;
}

.plan-cto-text:hover, 
.plan-cto:hover {
    cursor: pointer;
}

.plan-column:hover,
.plan-column.selected {
    --heading-color: #FFFFFF;
    --plan-text: #FFFFFF;
    --month-color: #FFFFFF;
    --footer-color: #d99426;
    --name-color: #263FA9;
    background-color: #121826;
}

.web-extra,
.tab-extra {
    display: none;
}

@media screen and (min-width: 800px) {
    main {
        margin: 3.75rem 10%;
        grid-template-columns: repeat(4, 1fr);
    }

    .title-column {
        min-width: 6.25rem;
        margin-top: calc(3.75rem + 6rem + 1.4rem);
    }

    .plan-price {
        font-size: 4rem;
    }

    .tab-extra {
        display: block;
    }

    .title-column,
    .selected,
    .last {
        grid-row: auto;
        grid-column: auto;
        grid-area: auto;
    }
}


@media screen and (min-width: 1280px) {
    :root {
        font-size: 16px;
    }

    main {
        grid-template-columns: repeat(5, 1fr);
    }

    .web-extra {
        display: block;
    }
}