@use "../utils/variables";

.button,
input.button {
    padding: 1rem;
    color: #FFFFFF;
    background-color: variables.$dark-color;
    border-radius: variables.$soft-radius;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    transform: scale(1.01);
    background-color: lighten(variables.$dark-color, 10%);
}