@use "../utils/variables";

.payment-container {
    padding: 3.125%;
    padding-top: 0px;
}

.payment-section {
    border-radius: variables.$hard-radius;
    overflow: hidden;
    box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
}

.cart-container {
    padding: 2rem;
    background-color: variables.$grey-color;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.item {
    display: flex;
    column-gap: 2rem;
    align-items: stretch;
    width: 100%;
    margin-bottom: 1.625rem;

    &__image {
        height: 100px;
        width: 100px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: variables.$soft-radius;
    }

    &__image img {
        height: auto;
        width: auto;
        max-width: 80%;
        max-height: 80%;
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    &__name {
        font-weight: 600;
    }

    &__cost {
        font-weight: 600;
    }

    &__description {
        font-weight: 400;
    }

    &__count {
        display: flex;
        justify-content: space-between;
    }
}

.coupon {
    display: grid;
    grid-template-columns: 75% 25%;
    column-gap: 0.5rem;

    input {
        padding: 1rem;
        border: 1px solid variables.$dark-grey-color;
        background-color: variables.$grey-color;
        border-radius: variables.$soft-radius;
        background-color: #FFFFFF;
    }
}


.cost {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__title,
    &__value {
        font-weight: 600;
        color: variables.$dark-alt-color;
    }

    &__bold {
        font-weight: 600;
    }
}

@media screen and (min-width:600px) {
    .payment-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}