@use "../utils/variables";

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding: 40px 0px;

    &__header {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__count {
        color: #FFFFFF;
        background-color: variables.$dark-color;
        border-radius: variables.$hard-radius;
        padding: 0.25rem 0.75rem;
        font-size: 0.75rem;
    }
}